*{
    padding: 0;
    margin: 0;
}
body{
  
    font-family: Arial;
    background: url(backgroundblur2.png);
    background-color: #1b2223;

    animation: colors 16s ease infinite;
}
@keyframes colors {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 10% 76%;
    }
    100%{
        background-position: 0 0;
    }
    
}
a{
    border: 1px solid rgb(8, 184, 184);
    color: rgb(8, 184, 184);
    padding: 15px 20px; 
    margin-bottom: 20px;
    border-radius: 10px;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease-in-out;
}
a:hover{
    
    border-color: rgb(118, 255, 255);
    color: rgb(118, 255, 255);
}
a:active{
    background-color: rgb(8, 184, 184);
    border-color: rgb(8, 184, 184);
    color: black;

}

/* ---------------MAIN-------------- */

.main{
  
    max-width: 300px;
    height: auto;
    margin: auto;


    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


.main img{
    height: 200px;
    width: 200px;
    
    border: 1px solid rgb(8, 184, 184);
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.603);
}

/* -----------------FOOTER---------------- */


footer{
    background-color: #1a1a1a;
    color: rgb(153, 153, 153);
    text-align: center;

    position: absolute;
    width: 100%;
    bottom: 0;
}

footer img{
    height: 25px;
}
