*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(26, 26, 26);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Arial;
}

a{
    border: 1px solid rgb(8, 184, 184);
    color: rgb(8, 184, 184);
    padding: 15px 20px; 
    margin-bottom: 20px;
    border-radius: 10px;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease-in-out;
}
a:hover{
    
    border-color: rgb(118, 255, 255);
    color: rgb(118, 255, 255);
}
a:active{
    background-color: rgb(8, 184, 184);
    border-color: rgb(8, 184, 184);
    color: black;

}

/* ---------------MAIN-------------- */

.main{
  
    max-width: 300px;
    height: 600px;
    margin: auto;


    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


.main img{
    height: 200px;
    width: 200px;
    
    border: 1px solid rgb(8, 184, 184);
    border-radius: 50%;
    margin-bottom: 20px;
    
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.603);
}

/* -----------------FOOTER---------------- */


footer{
    background-color: rgba(0, 0, 0, 0.637);
    color: rgb(153, 153, 153);
    text-align: center;
    
    width: 100%;
    position: absolute;
    bottom: 0px;
}

footer img{
    height: 25px;
}
